<a asp-action="Insert">Create new category</a>

<table id="tblData" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Display Order</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts{ 
    <script src="~/js/category.js"></script>
}